.accent-section {
  padding: 120px 0;
  background-color: $color-ghost-white;
}

.accent-section__inner {
  &--decor {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      right: -240px;
      bottom: -270px;
      z-index: -1;
      width: 470px;
      height: 494px;
      background-size: cover;

      @include background-image;
    }
  }
}

.accent-section__heading {
  margin: 0;
  text-align: center;

  &:only-child {
    margin: 0;
  }
}

.accent-section__body {
  margin: 0;
}

.accent-section--alter {
  margin-left: $offset-fluid;
  padding: 146px $offset-fluid 75px 0;

  @include vp-1299 {
    margin-left: 0;
    padding-right: 0;
  }

  .accent-section__heading {
    margin-bottom: 26px;
  }
}
