.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 0;
  list-style: none;

  @include vp-1023 {
    grid-template-columns: 442px;
    justify-content: center;
  }
}

.cards-list__item {
  background-color: $color-default-white;
}
