.dict {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px 120px;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    bottom: 6px;
    left: 50%;
    width: 1px;
    background-color: $color-light-slate-grey;
    transform: translateX(-50%);
  }
}

.dict__key {
  margin: 0 0 4px;
  font-weight: 700;
}

.dict__value {
  margin: 0;
  font-size: 14px;
}
