.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  overflow-x: hidden;
}

.page__heading {
  margin: 0 0 37px;
  text-align: center;

  &--alter {
    margin-bottom: 48px;
    text-align: left;

    @include vp-1249 {
      margin-bottom: 32px;
      text-align: center;
    }
  }
}

.page__subscriptions {
  margin-bottom: 120px;

  @include vp-1023 {
    margin-bottom: 100px;
  }
}

.page__event {
  margin-bottom: 106px;

  @include vp-1023 {
    margin-bottom: 100px;
  }
}

.page__trainers {
  margin-bottom: 91px;

  @include vp-1023 {
    margin-bottom: 100px;
  }
}

.page__advantages {
  margin-bottom: 150px;

  @include vp-1023 {
    margin-bottom: 91px;
  }
}

.page__promo {
  margin-bottom: 117px;

  @include vp-1023 {
    margin-bottom: 95px;
  }
}

.page__reviews {
  margin-bottom: 120px;

  @include vp-1023 {
    margin-bottom: 100px;
  }
}

.page__slider {
  width: 680px;
  margin: 0 auto;

  @include vp-1099 {
    width: 678px;
  }

  &--wide {
    width: calc(100% + 120px);
    margin: 0 0 0 -60px;

    @include vp-1249 {
      width: 980px;
      margin: 0 auto;
    }

    @include vp-1099 {
      width: 678px;
    }
  }
}
