.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  overflow-x: hidden;
}

.page__subscriptions {
  margin-bottom: 120px;
}

.page__event {
  margin-bottom: 106px;
}
